<!doctype html>
<html lang="ru" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>Di webControl</title>
        <body>
            <h1>Di video stream</h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8  offset-lg-2">
                        <h3 class="mt-5">/video_feed</h3>
                        <img src="video_feed" width="80%">
                    </div>
                </div>
                <script src="static/keyboard.js"></script>
        </body>
    </head>
</html>